@import "utilities/utilities";
@import "base/base";
@import "components/components";

.cta-button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 1.5rem 3rem;
  letter-spacing: .5px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  background: #9e091e;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
}
