<md-card class="campaign-card">
  <md-card-header class="card-header">
    <md-card-header-text>
      <span class="md-title">{{campaign.candidateName}}</span>
      <span class="md-subhead">{{campaign.committeeName}}</span>
    </md-card-header-text>
  </md-card-header>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Details</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <div campaign-detail>
      <div class="campaign-summary-section">
        <div>Total Contributions: {{summaryData.contribs.length}}</div>
        <div>Total from DC: {{(summaryData.contribs | dcContributions).length}} ({{(((summaryData.contribs | dcContributions).length / summaryData.contribs.length)*100).toFixed(1)}}% of total)</div>
        <div>Unique Contributors: {{summaryData.contributors.length}}</div>
        <div>Unique Contributors from DC: {{(summaryData.contributors | filter:{dcResident:true}).length}} ({{(((summaryData.contributors | filter:{dcResident:true}).length / summaryData.contributors.length)*100).toFixed(1)}}%)</div>
      </div>
      <div class="campaign-summary-section">
        <div>Total Raised: {{summaryData.contribs | totalRaised | currency}}</div>
        <!-- <div>Total Raised from DC: {{summaryData.totalRaisedFromDc | currency}}</div> -->
        <div>Raised from DC: {{summaryData.contribs | dcContributions | totalRaised | currency}} ({{(((summaryData.contribs | dcContributions | totalRaised) / (summaryData.contribs | totalRaised))*100).toFixed(1)}}%)</div>
        <div>Contributions from Candidate: {{summaryData.candidateContribs | totalRaised | currency}}</div>
        <div>Max Contributors (${{race.contributionLimit}}): {{summaryData.maxDonors.length}}
          ({{((summaryData.maxDonors.length / summaryData.contributors.length)*100).toFixed(1)}}%)</div>
      </div>

      <div class="campaign-summary-section">
        <div>Average Contribution: {{(summaryData.contribs | totalRaised) / (summaryData.contribs.length) | currency}}</div>
        <div>% Small Donors (&lt;$100):
          {{((summaryData.smallContribs.length / summaryData.contribs.length)*100).toFixed(1)}}%</div>
      </div>
    </div> <!-- campaign-detail -->
  </md-card-content>
  <!-- TODO: convert to grid cards and add "campaign-detail" directive -->

</md-card>