
<div class="page-container">
  <p>This is the home view. There will be more stuff here in due time.</p>

  <div class="home-container">

    <a class="cta-button" ui-sref="main.races.index"><span class="cta-text">View Current Races</span></a>
    <!-- <h4>HTML5 Boilerplate</h4>
    <p>
      HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>

    <h4>Angular</h4>
    <p>
      AngularJS is a toolset for building the framework most suited to your application development.
    </p>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p> -->
  </div>
</div>
