<div class="page-container">
  <div class="page-intro">
    <h1 class="page-title">Campaign Overviews by Race</h1>
    <div class="race-filters">
      <h2>Filters:</h2>
      <md-input-container>
        <label>Year</label>
        <md-select ng-model="racesCtrl.activeYear">
          <md-option ng-value="year" ng-repeat="year in main.electionYears">{{year}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Select Races</label>
        <md-select ng-model="racesCtrl.filterRaces" ng-model-options="{trackBy: '$value.raceId'}" md-selected-text="racesCtrl.getSelectedText()" multiple>
          <md-option ng-value="race" ng-repeat="race in racesCtrl.activeRaces">{{race.raceTypeDetail}}</md-option>
        </md-select>
      </md-input-container>
      <!--<div class="races-list-toggle" active-races>
        <md-button class="md-accent md-raised" ng-click="showRaces = !showRaces">Show Races</md-button>
        <div class="races-list-container" ng-if="showRaces">
          <h3>Races in {{racesCtrl.activeYear}}</h3>
          <div class="races-active-list">
            <md-chips ng-model="racesCtrl.filterRaces" readonly>
              <md-chip-template>{{$chip.raceTypeDetail}}</md-chip-template>
            </md-chips> 
          </div>
        </div>
      </div> -->  
    </div>
  </div>
  <div class="races-list" active-races>
    <h2>Races in {{racesCtrl.activeYear}}</h2>
    <div class="race" ng-repeat="race in racesCtrl.filterRaces|orderBy:'raceId'">
      <h3 class="race-headline">{{race.raceId}} - {{race.raceTypeDetail}} - {{race.electionYear}}</h2>
      <!-- set up grid for campaign cards -->
      <md-content class="race-candidates-list" layout-xs="column" layout="row" layout-wrap>
          <!-- <div ng-repeat="campaign in campaigns | filter:{raceId:race.raceId}"> -->
            <!-- <div>{{campaign.candidateName}}</div> -->
        <campaign-card flex-xs flex-gt-xs="50" flex-gt-sm="33" flex-gt-md="25" ng-repeat="campaign in campaigns | filter:{raceId:race.raceId}" />
          <!-- </div> -->
      </md-content>
    </div>
  </div>
</div>
