<md-content class="md-padding header-content" layout-="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="space-between stretch">
  <h1>Who Funds DC Candidates?</h1>
  <md-nav-bar nav-bar-aria-label="navigation links" role="navigation" class="navigation">

      <!-- <div class="navbar-header"> -->

        <!-- <a class="navbar-brand" href="/">Who Funds DC Candidates?</a> -->
      <!-- </div> -->

    <md-nav-item md-nav-sref="main.home" name="main.home" aria-label="home">Home</md-nav-item>
    <md-nav-item md-nav-sref="main.races.index" name="main.races.index" aria-label="races">Races</md-nav-item>
    <md-nav-item md-nav-sref="main.campaigns.index" name="main.campaigns.index" aria-label="campaigns">Campaigns</md-nav-item>

  </md-nav-bar>
</md-content>
